.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
}


.form-check{
    display: flex;
    align-items: center;
    input{
        height: 16px;
        width: 16px;
    }
}