.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
}


.form-check{
    display: flex;
    align-items: center;
    input{
        height: 16px;
        width: 16px;
    }
}


.draggbleItem{
    display: inline-flex;
    align-items: stretch;
    padding: 0;
    >span{
        margin: 12px 20px;
    }
}
.drag{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 40px;
    min-width: 40px;
}

.theme-dark{
    .drag{
        background: lighten($color: map-get($map: $theme-colors, $key: "dark"), $amount: 6);
        color: map-get($map: $theme-colors, $key: "light");
    }
}


.theme-light{
    .drag{
        color: map-get($map: $theme-colors, $key: "dark");
    }
}


.actions{
    display: flex;
    >*:not(:last-child){
        margin-right: 10px;
    }


    &[align='right']{
        justify-content: flex-end;
    }
}

.theme-light {
    .loadMoreBtn {
        @extend .btn-outline-black;
    }
}


.theme-dark {
    .loadMoreBtn {
        @extend .btn-outline-white;
    }
}

.theme-dark, .theme-light{
    .loadMoreBtn:hover {
        background: map-get($map: $theme-colors, $key: "primary");
        border-color: map-get($map: $theme-colors, $key: "primary");
        color: map-get($map: $theme-colors, $key: "white");
    }
}